.wrapper{
    min-height: 100vh;
    position: relative;
    padding-bottom: 240px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

.footer{
    background-color: #EEE;
    /* padding: 5%; */
    position: absolute;
    bottom: 0;
    z-index: 0;
    width: 100vw;
    height: 240px;
    /* display: block;
    justify-content: center;
    align-items: center;
    text-align: center; */
    /* margin: 0 auto; */
}
.sns{
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center; 
    width: inherit;
    height: inherit;
    padding: 0 5%;
    /* position: fixed; */
}

.sns span{
    display: block;
}

.sns_link{
    display: block;
    width: inherit;
    /* height: inherit; */
    /* justify-content: center;  */
}

.sns_link .basicsize{
    /* position: fixed; */
    width: 60px;
}

.sns_link .bigsize{
    /* position: fixed; */
    width: 80px;
    height: 80px;
}

.sns_link a{
    padding: 0 5%;
}

body .footer_name{
    font-size: min(7vw,30px);
    /*margin-top: 16px;*/
    /* margin-bottom: 16px; */
    display: block;
    width: 100%;
    color: #737;
    font-weight: bolder;
    margin: 0 auto;
    text-align: left;
    justify-content: center;
    /* padding-left: 120px; */
    /* justify-content: center;  */
    /* border-bottom: 1px solid #333; */
}

