.footer{
    background-color: #EEE;
    /* padding: 5%; */
    position: fixed;
    z-index: 9999999;
    bottom: 0;
    width: 100vw;
    height: 40px;
    /* display: block;
    justify-content: center;
    align-items: center;
    text-align: center; */
    /* margin: 0 auto; */
}
.sns{
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center; 
    width: inherit;
    height: inherit;
    /* position: fixed; */
}

.sns_link{
    display: block;
    width: inherit;
    /* height: inherit; */
    justify-content: center; 
}

.sns_link img{
    /* position: fixed; */
    width: 16px;
}