@charset "UTF-8";
/* #tabcontrol{
    padding: 5%;
} */

.tabs{
    padding: 5%;
}

.tabs p{
    margin-bottom: 0px;
}

#tabcontrol a {
    display: inline-block;            /* インラインブロック化 */
    border-width: 1px 1px 0px 1px;    /* 下以外の枠線を引く */
    border-style: solid;              /* 枠線の種類：実線 */
    border-color: #333;              /* 枠線の色：黒色 */
    border-radius: 0.75em 0.75em 0 0; /* 枠線の左上角と右上角だけを丸く */
    padding: 1em 1em;              /* 内側の余白 */
    text-decoration: none;            /* リンクの下線を消す */
    color: #333;                     /* 文字色：黒色 */
    background-color: rgba(245, 245, 245, 0.93);          /* 背景色：白色 */
    font-weight: bold;                /* 太字 */
    position: relative;               /* JavaScriptでz-indexを調整するために必要 */
}



#tabcontrol .small{
    font-size: min(85%, 14px);
}

#tabbody .each_tab{
    border: 1px solid #333; /* 枠線：黒色の実線を1pxの太さで引く */
    margin-top: -1px;        /* 上側にあるタブと1pxだけ重ねるために「-1px」を指定 */
    padding: 5%;            /* 内側の余白量 */
    background-color: rgba(245, 245, 245, 0.93); /* 背景色：白色 */
    position: relative;      /* z-indexを調整するために必要 */
    z-index: 0;  /* 重なり順序を「最も背面」にするため */
}

#tabcontrol a:nth-child(1), #tabbody .each_tab:nth-child(1) { background-color: rgba(245, 245, 225, 0.93); }/* 1つ目のタブとその中身用の配色 */
#tabcontrol a:nth-child(2), #tabbody .each_tab:nth-child(2) { background-color: rgba(245, 225, 245, 0.93); }/* 2つ目のタブとその中身用の配色 */
#tabcontrol a:nth-child(3), #tabbody .each_tab:nth-child(3) { background-color: rgba(225, 245, 245, 0.93); }/* 3つ目のタブとその中身用の配色 */
#tabcontrol a:nth-child(3), #tabbody .each_tab:nth-child(3) { background-color: rgba(245, 245, 245, 0.93); }/* 3つ目のタブとその中身用の配色 */
