<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Slug}}</title>
    <meta name="discription" content="テスト 第76回収穫祭ホームページへようこそ">
    <link rel="stylesheet" href="{{.Site.BaseURL}}/CSS/basic.css">
    <link rel="stylesheet" href="{{.Site.BaseURL}}/CSS/reset.css">
    <link rel="stylesheet" href="{{.Site.BaseURL}}/CSS/header.css">
    <link rel="stylesheet" href="{{.Site.BaseURL}}/CSS/top.css">
    <link rel="stylesheet" href="{{.Site.BaseURL}}/CSS/content.css">
    <link rel="stylesheet" href="{{.Site.BaseURL}}/CSS/substyle.css">
</head>

<body>
    <header class="header">
        <div class="header__inner">
            <div class="header__title header-title">
                <a href="{{.Site.BaseURL}}">
                    <img src="{{.Site.BaseURL}}img/logo.png" alt="ロゴ画像">
                </a>
            </div>
    
            <nav class="header__nav nav" id="js-nav">
                <div class="tomain">
                    <b>＜ メインページへ</b>
                </div>
                <div class="nav-items">
                    <ul class="nav__items">
                            <li class="nav-items__item"><a href="{{.Site.BaseURL}}news"><b>お知らせ</b></a></li>
                            <li class="nav-items__item"><a href="{{.Site.BaseURL}}#fm"><b>フロアマップ</b></a></li>
                            <li class="nav-items__item"><a href="{{.Site.BaseURL}}groups"><b>展示団体</b></a></li>
                            <li class="nav-items__item"><a href="{{.Site.BaseURL}}stage"><b>ステージ演目</b></a></li>
                            <li class="nav-items__item"><a href="{{.Site.BaseURL}}message"><b>メッセージ</b></a></li>
                    </ul>
                    <div class="copyright">
                        © 2023 収穫祭実行委員会PCパート
                    </div>
                </div>
            </nav>
            
            <button class="header__hamburger hamburger" id="js-hamburger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        
    </header>