{{ partial "header.html" . }}
<main>
    <div class="content_sub">
        <h4>企画一覧　準備中</h4>
    </div>
    <div class="tabs">
        <p id="tabcontrol" class="groups_tab">
            <a href="#tabpage1" class="small">クラス展示</a>
            <a href="#tabpage2" class="small">有志展示</a>
            <a href="#tabpage3" class="small">飲食</a>
            <a href="#tabpage4" class="small">教職員展示</a>
        </p>
        <div id="tabbody">
            <div id="tabpage1" class="each_tab">
                <p>
                    <span class="title">1年A組</span>
                    <span class="eimg"><img src="{{.Site.BaseURL}}img/展示イメージ画/1A.png" alt="全体図"></span>
                    
                </p>
            </div>
            <div id="tabpage2" class="each_tab">準備中</div>
            <div id="tabpage3" class="each_tab">準備中</div>
            <div id="tabpage4" class="each_tab">準備中</div>
        </div>
    </div>
</main>
{{ partial "footer.html" . }} 