{{ partial "header.html" . }}
<main>
    <div class="content_sub">
        <h4>ステージ演目　準備中</h4>
    </div>
    <div class="tabs">
        <p id="tabcontrol">
            <a href="#tabpage1">タブ1</a>
            <a href="#tabpage2">タブ2</a>
            <a href="#tabpage3">タブ3</a>
        </p>
        <div id="tabbody">
            <div id="tabpage1" class="each_tab">…… タブ1の中身 ……</div>
            <div id="tabpage2" class="each_tab">…… タブ2の中身 ……</div>
            <div id="tabpage3" class="each_tab">…… タブ3の中身 ……</div>
        </div>
    </div>
</main>
{{ partial "footer.html" . }} 