{{ partial "header.html" . }}
<main>
    <div class="content_sub">
        <h4>ステージ演目　準備中</h4>
    </div>
    <div class="tabs">
        <p id="tabcontrol">
            <a href="#tabpage1">中夜祭<br><span class="small">@中夜ステージ</span></a>
            <a href="#tabpage2">後夜祭<br><span class="small">@体育館</span></a>
            <a href="#tabpage3">招待試合<br><span class="small">@体育館</span></a>
        </p>
        <div id="tabbody">
            <div id="tabpage1" class="each_tab">準備中</div>
            <div id="tabpage2" class="each_tab">準備中</div>
            <div id="tabpage3" class="each_tab">準備中</div>
        </div>
    </div>
</main>
{{ partial "footer.html" . }} 