name: deploy to remote

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: gulp build
        uses: actions/setup-node@v1
      - name: ssh key generate
        run: echo "$SSH_PRIVATE_KEY" > key && chmod 600 key
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: rsync deploy
        run: rsync -auzrv -e "ssh -i key -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -p 10022" --delete ./dist/* tomoshibi23@sv14772.xserver.jp:/home/tomoshibi23/tomoshibi-tech.com/public_html/harvestfes76.tomoshibi-tech.com/ --exclude .htaccess
